<?xml version="1.0" encoding="utf-8"?>

<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
	<PropertyGroup>
		<DeleteExistingFiles>true</DeleteExistingFiles>
		<ExcludeApp_Data>false</ExcludeApp_Data>
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<PublishProvider>FileSystem</PublishProvider>
		<PublishUrl>C:\Users\Administrator\Desktop\ViteCent.Gateway</PublishUrl>
		<WebPublishMethod>FileSystem</WebPublishMethod>
		<_TargetId>Folder</_TargetId>
		<SiteUrlToLaunchAfterPublish />
		<TargetFramework>net9.0</TargetFramework>
		<ProjectGuid>80a081a1-2d11-42f6-bb54-addb4cfb29be</ProjectGuid>
		<SelfContained>false</SelfContained>
	</PropertyGroup>
</Project>